In [1]:
cd ~/bench

/home/soda/rcappuzz/work/benchmark-join-suggestions

In [20]:
import polars as pl
from pathlib import Path
import polars.selectors as cs
from tqdm.notebook import tqdm
from joblib import Parallel, delayed

In [3]:
path_wordnet = Path()
path_wordnet_vldb = Path()
path_wordnet_vldb_wide = Path()
path_wordnet_vldb_3 = Path()
path_binary = Path()
path_open_data = Path()

In [4]:
path_list = list(
    map(
        Path,
        [
            "data/yadl/wordnet_full/",
            "data/yadl/wordnet_vldb/",
            "data/yadl/wordnet_vldb_wide/",
            "data/yadl/wordnet_vldb_3/",
            "data/yadl/binary_update/",
            "data/open_data_us/",
        ],
    )
)

In [5]:
def table_profile(table_path, data_lake):
    df = pl.read_parquet(table_path)
    n_num = df.select(cs.numeric()).shape[1]
    c_num = df.select(~cs.numeric()).shape[1]
    if len(df) > 0:
        avg_null = df.null_count().mean_horizontal().item() / len(df)
        # avg_null = df.null_count().mean_horizontal().item()/len(df)
    else:
        avg_null = 0
    d = {
        "data_lake": data_lake,
        "table": table_path.stem,
        "num_attr": n_num,
        "cat_attr": c_num,
        "n_rows": len(df),
        "n_cols": len(df.columns),
        "avg_null": avg_null,
    }

    return d

In [23]:
def get_stats(df: pl.DataFrame):
    return df.select(
        pl.col("data_lake").first(),
        pl.col("n_tables").first(),
        pl.col("n_rows").sum().alias("tot_rows"),
        pl.col("n_cols").sum().alias("tot_rows"),
        pl.col("num_attr").mean().alias("mean_num_attr"),
        pl.col("num_attr").median().alias("median_num_attr"),
        pl.col("cat_attr").mean().alias("mean_cat_attr"),
        pl.col("cat_attr").median().alias("median_cat_attr"),
        pl.col("n_rows").mean().alias("mean_n_rows"),
        pl.col("n_rows").median().alias("median_n_rows"),
        pl.col("n_cols").mean().alias("mean_n_cols"),
        pl.col("n_cols").median().alias("median_n_cols"),
        pl.col("avg_null").mean().alias("mean_avg_null"),
        pl.col("avg_null").median().alias("median_avg_null"),
    )

In [12]:
stats = []

In [19]:
for path in path_list:
    profiles = []
    # for tab in path.glob("**/*.parquet"):

    profiles = Parallel(n_jobs=8, verbose=0)(
        delayed(table_profile)(tab, path.stem)
        for tab in tqdm(
            path.glob("**/*.parquet"),
            total=sum(1 for _ in path.glob("**/*.parquet")),
            position=0,
            leave=False,
            desc=path.stem,
        )
    )

    # for tab in tqdm(
    #     path.glob("**/*.parquet"), total=sum(1 for _ in path.glob("**/*.parquet")), position=0, leave=False, desc=path.stem
    # ):

    #     d = table_profile(tab, path.stem)
    #     profiles.append(d)
    df = pl.from_dicts(profiles).with_columns(pl.lit(len(profiles)).alias("n_tables"))
    stats.append(get_stats(df))
df_stats = pl.concat(stats)

In [10]:
df_stats = pl.concat(stats)

In [21]:
df_stats

shape: (6, 12)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ data_lake ┆ n_tables ┆ mean_num_ ┆ median_nu ┆ … ┆ mean_n_co ┆ median_n_ ┆ mean_avg_ ┆ median_av │
│ ---       ┆ ---      ┆ attr      ┆ m_attr    ┆   ┆ ls        ┆ cols      ┆ null      ┆ g_null    │
│ str       ┆ i32      ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│           ┆          ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ wordnet_f ┆ 30072    ┆ 0.389698  ┆ 0.0       ┆ … ┆ 3.165503  ┆ 3.0       ┆ 0.309895  ┆ 0.331624  │
│ ull       ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ wordnet_v ┆ 869      ┆ 1.761795  ┆ 2.0       ┆ … ┆ 8.195627  ┆ 6.0       ┆ 0.444155  ┆ 0.497727  │
│ ldb       ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ wordnet_v ┆ 50922    ┆ 3.615058  ┆ 3.0       ┆ … ┆ 12.686403 ┆ 10.0      ┆ 0.631575  ┆ 0.669716  │
│ ldb_wide  ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ wordnet_v ┆ 3162     ┆ 3.5       ┆ 3.0       ┆ … ┆ 12.1926   ┆ 10.0      ┆ 0.603582  ┆ 0.663548  │
│ ldb_3     ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ binary_up ┆ 70       ┆ 0.3       ┆ 0.0       ┆ … ┆ 2.0       ┆ 2.0       ┆ 0.000004  ┆ 0.0       │
│ date      ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ open_data ┆ 5591     ┆ 11.097836 ┆ 3.0       ┆ … ┆ 23.857092 ┆ 14.0      ┆ 0.094168  ┆ 0.010989  │
│ _us       ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [28]:
df_stats.transpose(include_header=True, column_names="data_lake").to_pandas().style.format(precision=2)

In [29]:
df_stats.transpose(include_header=True, column_names="data_lake").write_csv(
    "stats_data_lakes.csv"
)